

#contactusmessagedivision{
	
	margin-top:40px;
	margin-left:130px;
	width:500px;
	display:inline-block;
	font-family: cursive;
	color:green;
	text-align: center;
}
.contactUsTextDivision{
	
	
	margin-top:20px;
	width:500px;
	display:inline-block;
	font-family: cursive;
	text-align: center;
	color:white;
}

textarea
{
	
	margin-top:20px;
	padding:5px;
	font-family: monospace;
	font-size:15px;
}


.contactUsButton
{
	cursor:pointer;
	width:100px;
	height:25px;
	margin-left:310px;
	margin-top:20px;
	background-color: green;
	color:black;
	padding:5px;
}


.contactUsButton:hover
{
	background-color: purple;
	color:white;
	cursor:pointer;
	
}