body,html{
	 margin:auto;
     padding: 0;
     text-align: center;
     background-color: #B0B0B0 ;
     
	
}

.mainDivision{
	
	
	padding:0;
	margin:auto;
	margin-top:20px;
    text-align:center;
	width:800px;
	height:500px;
	
}


#loginDivision{

	margin:auto;
	margin-top:10px;
	margin-left:220px;
	padding:5px;
    text-align:center;
	width:350px;
	height:350px;
	float:left;
	border-color: black;
	border:1px solid;
	background-image: url('../images/background.png');
	
}


#securityMailDivision{

	margin-top:10px;
	margin-left:220px;
	padding:5px;
    text-align:center;
	width:350px;
	height:310px;
	float:left;
	border-color: black;
	border:1px solid;
	background-image: url('../images/background.png');
	
}

#forgotPasswordDivision{

	margin-top:10px;
	margin-left:220px;
	padding:5px;
    text-align:center;
	width:350px;
	height:200px;
	float:left;
	border-color: black;
	border:1px solid;
	background-image: url('../images/background.png');
	
}

.firstBox{
	padding:0px;
	margin-top:5px;
	text-align:center;
	width:40px;
	height:50px;
	float:left;
		
}
.secondBox{
	padding:0px;
	margin-top:5px;
    text-align:center;
	width:310px;
	height:50px;
	float:left;
		
}

.submitDivision{  
	
    padding:10px;
	text-align:center;
	width:250px;
	height:30px;
	float:left;
	border-radius:25px;
	
	
}

.submitDivision1{  
	
    padding:10px;
	text-align:center;
	width:300px;
	height:30px;
	float:left;
	border-radius:25px;
	
	
}
.textDivision{
	
	margin-top:5px;
	text-align:center;
	width:350px;
	height:30px;
	float:left;
	font-size: 15px;
	
}

.textDivision1{
	
	padding:5px;
	margin-top:10px;
	margin-left:27px;
	width:310px;
	height:80px;
	float:left;
	font-size: 15px;
	text-align:left;
	
}
.loginButtonDivision
{
	cursor:pointer;
	padding:5px;
	width:180px;
	height:20px;
	background-color:green;
	float:right;
	text-align:center;
	border-radius:25px;
}

.loginButtonDivision:hover
{
	cursor:pointer;
	padding:5px;
	width:185px;
	height:25px;
	background-color:#808080;
    color:white;
    border-radius:25px;
}

.registerButtonDivision
{

	cursor:pointer;
	padding:5px;
	width:180px;
	height:20px;
	background-color:purple;
	float:right;
	text-align:center;
	border-radius:25px;
}

.registerButtonDivision1
{

	cursor:pointer;
	padding:5px;
	margin-right:40px;
	width:200px;
	height:20px;
	background-color:purple;
	float:right;
	text-align:center;
	border-radius:25px;
}

.registerButtonDivision1:hover
{

	cursor:pointer;
	padding:5px;
	width:205px;
	height:25px;
	background-color:#808080;
    color:white;
    border-radius:25px;
}
.registerButtonDivision:hover
{
	cursor:pointer;
	padding:5px;
	width:185px;
	height:25px;
	background-color:#808080;
    color:white;
    border-radius:25px;
}

.buttonDivision:hover
{
	cursor:pointer;
	background-color:red;
	
}

input[type="button"]
{
	width:180px;
	height:40px;
	background-color:green;
	font-family: fantasy;
	padding-left:5px;
}
input[type="text"]
 {
  
   width: 300px;
   height:30px;
   padding-left:5px;
   
   }
 input[type="password"]
 {
  
   width: 300px;
   height:30px;
   padding-left:5px;
   
 }
 input[type="text"]:focus,input[type="password"]:focus {
  border-color: maroon;
}
input[type="text"]:hover,input[type="password"]:hover {
    border-color:lime;
    
}

input[id="verificationnumber"]{
	
	width: 125px;
	padding-left:5px;
   height:30px;
   float:left;
   
}

.firstBox1{
	padding:0px;
	margin-top:6px;
	text-align:center;
	width:118px;
	height:40px;
	float:left;
		
}
.secondBox1{
	padding:0px;
	margin-top:5px;
    text-align:center;
	width:220px;
	height:50px;
	float:left;
		
}

img{
	
	
	
	margin-right:5px;
	height:33px;
	width:32px;
}


#ver{
	
	
	float:right;
	margin-right:5px;
	height:33px;
	width:32px;
}

.dummy{
	
	color: yellow;
	padding:5px;
    text-align: center;
	width:350px;
	height:40px;
	float:left;
	margin-left:220px;
	font-family: fantasy;
	
}


.successStatus{
	
	
	color: green;
	padding:5px;
    text-align: center;
	width:350px;
	min-height:40px;
	float:left;
	font-family: monospace;
	font-size:20px;	
	 display: inline-block;
    word-wrap: break-word;
    margin-left:220px;
}

.failureStatus{
	
	
	
	color: red;
	text-align: center;
	width:350px;
	min-height:40px;
	padding:5px;
	float:left;
	font-size:20px;
	font-family: fantasy;
	 display: inline-block;
   word-wrap: break-word;
   margin-left:220px;	
}

#registrationDivision{

	padding:5px;
	margin-top:10px;
	margin-left:220px;
    text-align:center;
	width:350px;
	height:425px;
	float:left;
	border-color: black;
	border:1px solid;
	background-image: url('../images/background.png');
}

.securityDivision{
	background-color: #778899;
	padding:5px;
	margin-left:50px;
	background-image: url('../images/background.png');
    text-align:center;
	width:180px;
	height:40px;
	float:left;
	
}

.securityBox{
	font-family:monospace;
  background-color: #778899;
	padding:3px;
	background-image: url('../images/background.png');
	color:white;
    text-align:center;
	width:30px;
	height:20px;
	float:right;
	font-size:20px;
	
}

.reloadDivision{
	
	cursor:pointer;
  background-color: #778899;
	padding:10px;
	margin:0px;
    text-align:center;
	width:40px;
	height:30px;
	float:left;
	background-image: url('../images/background.png');
}